* { 
    box-sizing: border-box;
}

nav { 
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header { 
    background-color: #000;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.nav {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav-links {
    width: 100%;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
}

.nav-links ul li {
    position: relative;
    text-align: center;
    padding: 20px 40px 20px 40px;
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.nav-links a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}


.white { 
    color: #fff;
}

.yellow { 
    color: #d69e3d;
    text-transform: uppercase;
}

.wrapper { 
    color: #f3f0e9;
}

h1 {
    color: #fff;
    font-size: 2.027rem;
    font-family: "Lato", sans-serif;
}

h2 {
    color: #000;
    font-size: 1.802rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

h3 { 
    color: #000;
    font-size: 1.424rem;
    font-family: "Lato", sans-serif;
}

p {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    color: #000;
}

.white-btn{
    padding: 15px 30px;
    display: inline-block;
    background-color: #fff;
    margin: 0 auto;
}

.white-btn a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.container { 
   padding: 60px 10px 0 10px;

}

#hero {
    background-color: #000;
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 200px 0;
    margin: 0;
    height: auto;
    position: relative;
    display: flex;
    width: 100%;
}

.hero-bg { 
    margin: 0 auto;
}

img { 
    width: 100%;
}

.images-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "g1 g1"
    "g2 g3"
    "g4 g5";
}

.images-grid .latte{ 
    grid-area: g1;
}

.images-grid .beans{ 
    grid-area: g2;
}

.images-grid .pouring{ 
    grid-area: g3;
}

.images-grid .cups{ 
    grid-area: g4;
}

.images-grid .employee{ 
    grid-area: g5;
}

.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;

}

.offers img { 
    width: 33%;
}

#explore {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../images/coffee-shop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0;
}

.border-btn {
    padding: 15px 30px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #fff;
}

.border-btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.black-btn {
    padding: 15px 30px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #fff;
    background-color: #000;
}

.black-btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}






footer {
    background-color: #000;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

footer hr {
    border: .5px solid #fff;
    opacity: 0.5;
}

footer p {
    color: #fff;
    margin: 0 auto;
    
}